<ion-header>
  <ion-toolbar>
    <ion-title>Proximos Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Nevado Santa Isabel</ion-card-subtitle>
        <img src="http://lorempixel.com/400/200" />
      </ion-card-header>

      <ion-card-content>
        <div class="content-info">
            <div>
                <ion-icon name="wifi"></ion-icon>
                <p>$400.000</p>
            </div>
            <div>
                <ion-icon name="calendar"></ion-icon>
                <p>26 de febrero 2019</p>
            </div>
            <div class="content-info__go">
              <ion-button color="success" expand="full">Quiero ir!</ion-button>
            </div>
        </div>
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Desierto Tatacoa</ion-card-subtitle>
        <img src="http://lorempixel.com/400/200" />
      </ion-card-header>

      <ion-card-content>
        <div class="content-info">
            <div>
                <ion-icon name="wifi"></ion-icon>
                <p>$400.000</p>
            </div>
            <div>
                <ion-icon name="calendar"></ion-icon>
                <p>26 de febrero 2019</p>
            </div>
            <div class="content-info__go">
              <ion-button color="success" expand="full">Quiero ir!</ion-button>
            </div>
        </div>
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Nevado Santa Isabel</ion-card-subtitle>
        <img src="http://lorempixel.com/400/200" />
      </ion-card-header>

      <ion-card-content>
        <div class="content-info">
            <div>
                <ion-icon name="wifi"></ion-icon>
                <p>$400.000</p>
            </div>
            <div>
                <ion-icon name="calendar"></ion-icon>
                <p>26 de febrero 2019</p>
            </div>
            <div class="content-info__go">
              <ion-button color="success" expand="full">Quiero ir!</ion-button>
            </div>
        </div>
      </ion-card-content>
  </ion-card>


</ion-content>
